
html, body {
  height: 100%;
}
.App {
  /* background-image: url("./images/Brown\ Music\ Vlog\ YouTube\ Thumbnail.png"); */
  /* background-color: #F1EAE6; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size:cover;
  
}
